---
import getLanguageFile from "../../internationalization";
const { lang = "es" } = Astro.props;

const {
  index: {
    basic: { languages, english, englishSub, spanish, spanishSub },
  },
} = getLanguageFile(lang);
---

<divx
  class="flex flex-col justify-center items-center h-full w-full bg-gradient-to-tl from-black via-cyan-950 to-black gsap-slidein"
>
  <p class="text-white/50">{languages}</p>
  <p
    class="text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500 gsap-fadein"
  >
    {english}{" "}
    <span class="text-white/50 text-base font-normal gsap-split-chars"
      >({englishSub})</span
    >
  </p>
  <p
    class="text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500 gsap-fadein"
  >
    {spanish}{" "}<span
      class="text-white/50 text-base font-normal gsap-split-chars"
      >({spanishSub})</span
    >
  </p>
</divx>
