---
import getLanguageFile from "../../internationalization";
const { lang = "es" } = Astro.props;

const {
  index: {
    basic: { languages, english, englishSub, spanish, spanishSub },
  },
} = getLanguageFile(lang);
---

<divx class="flex flex-col justify-center items-center h-full w-full">
  <p class="text-white/50">{languages}</p>
  <p
    class="text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-white via-cyan-100 to-white gsap-fadein"
  >
    {english}{" "}
    <span class="text-white/50 text-base font-normal">({englishSub})</span>
  </p>
  <p
    class="text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-white via-cyan-100 to-white gsap-fadein"
  >
    {spanish}{" "}<span class="text-white/50 text-base font-normal"
      >({spanishSub})</span
    >
  </p>
</divx>
