---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import EducationItem from "../components/EducationItem.astro";

import udemedellinImg from "../assets/img/udem.jpeg";
import udemyImg from "../assets/img/udemy.jpeg";
import creativosImg from "../assets/img/creativos.jpeg";
import celerikImg from "../assets/img/celerik.jpeg";
import touchtoImg from "../assets/img/touchto.jpeg";
import inbanxImg from "../assets/img/inbanx.jpeg";

const items = [
  {
    image: inbanxImg,
    location: "Austin, TX (Remote)",
    name: "inbanx Inc",
    position: "Full-Stack & RN Engineer",
    technologies: [
      "React",
      "Node.js",
      "GraphQL - Prisma",
      "TailwindCSS",
      "React Native - Expo",
    ],
    timePeriod: "May 2024 - Present",
  },
  {
    image: touchtoImg,
    location: "Austin, TX (Remote)",
    name: "TouchTo",
    position: "Full-Stack & RN Developer",
    technologies: [
      "React",
      "Node.js",
      "GraphQL - Prisma",
      "TailwindCSS",
      "React Native - Expo",
    ],
    timePeriod: "February 2023 - April 2024",
  },
  {
    image: celerikImg,
    location: "Medellin, Colombia (Remote)",
    name: "Celerik",
    position: "Mid Full-Stack Developer",
    technologies: [
      "React",
      "Next.js",
      "Node.js",
      "NestJS",
    ],
    timePeriod: "May 2021 - February 2023",
  },
  {
    image: creativosImg,
    location: "Medellin, Colombia",
    name: "Creativos Digitales",
    position: "Junior Software Developer",
    technologies: [
      "Vue.js",
      "Nuxt.js",
      "Node.js",
      "Express.js",
      "PostgreSQL",
      "Material UI",
    ],
    timePeriod: "August 2019 - April 2021",
  },
];

const courses = [
  {
    image: udemedellinImg,
    institution: "Universidad de Medellin",
    name: "Software Engineer",
    timePeriod: "2025",
  },
  {
    image: udemyImg,
    institution: "Udemy - Andrei Neagoie",
    name: "The Complete Web Developer in 2023: Zero to Mastery",
    timePeriod: "2022",
  },
  {
    image: udemyImg,
    institution: "Udemy - Fernando Herrera",
    name: "React Native: Native Apps for IOS & Android",
    timePeriod: "2022",
  },
  {
    image: udemyImg,
    institution: "Udemy - Kim Chen",
    name: "Complete Progressive Web App Bootcamp",
    timePeriod: "2022",
  },
  {
    image: udemyImg,
    institution: "Udemy - Jeovani Martínez",
    name: "Website Hosting in Serverless Mode on Amazon AWS",
    timePeriod: "2022",
  },
];
---

<Layout title="Experience & Education">
  <div
    class="flex flex-row justify-start items-center p-5 rounded-lg gap-4 bg-gradient-to-br from-stone-800 to-black"
  >
    <BackButton />
    <h1
      class="text-2xl md:text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
      transition:name="experience number"
    >
      {`${new Date().getFullYear() - 2020}+ years of experience`}
    </h1>
  </div>

  <div
    class="flex flex-col justify-start items-center rounded-lg gap-2 py-2 overflow-y-auto"
  >
    {
      items.map((item) => (
        <ExperienceItem
          image={item.image}
          location={item.location}
          name={item.name}
          position={item.position}
          technologies={item.technologies}
          timePeriod={item.timePeriod}
        />
      ))
    }
  </div>

  <div
    class="flex flex-row justify-start items-center p-5 rounded-lg gap-4 bg-gradient-to-br from-stone-800 to-black"
  >
    <BackButton />
    <h1
      class="text-2xl md:text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
    >
      Education & Courses
    </h1>
  </div>

  <div class="flex flex-col justify-start items-center rounded-lg gap-2 py-2">
    {
      courses.map((item) => (
        <EducationItem
          image={item.image}
          institution={item.institution}
          name={item.name}
          timePeriod={item.timePeriod}
        />
      ))
    }
  </div>
</Layout>
