---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import EducationItem from "../components/EducationItem.astro";

import udemedellinImg from "../assets/img/udem.jpeg";
import udemyImg from "../assets/img/udemy.jpeg";
import creativosImg from "../assets/img/creativos.jpeg";
import celerikImg from "../assets/img/celerik.jpeg";
import touchtoImg from "../assets/img/touchto.jpeg";
import inbanxImg from "../assets/img/inbanx.jpeg";

const items = [
  {
    image: inbanxImg,
    location: "Austin, TX (Remoto)",
    name: "inbanx Inc",
    position: "Ingeniero Full-Stack & React Native",
    technologies: [
      "React",
      "Node.js",
      "GraphQL - Prisma",
      "TailwindCSS",
      "React Native - Expo",
    ],
    timePeriod: "Mayo 2024 - Presente",
  },
  {
    image: touchtoImg,
    location: "Austin, TX (Remoto)",
    name: "TouchTo",
    position: "Desarrollador Full-Stack & React Native",
    technologies: [
      "React",
      "Node.js",
      "GraphQL - Prisma",
      "TailwindCSS",
      "React Native - Expo",
    ],
    timePeriod: "Febrero 2023 - Abril 2024",
  },
  {
    image: celerikImg,
    location: "Medellin, Colombia (Remoto)",
    name: "Celerik",
    position: "Desarrollador de Software Mid Full-Stack",
    technologies: ["React", "Next.js", "Node.js", "NestJS"],
    timePeriod: "Mayo 2021 - Febrero 2023",
  },
  {
    image: creativosImg,
    location: "Medellin, Colombia",
    name: "Creativos Digitales",
    position: "Desarrollador de Software Junior",
    technologies: [
      "Vue.js",
      "Nuxt.js",
      "Node.js",
      "Express.js",
      "PostgreSQL",
      "Material UI",
    ],
    timePeriod: "Agosto 2019 - Abril 2021",
  },
];

const courses = [
  {
    image: udemedellinImg,
    institution: "Universidad de Medellin",
    name: "Ingeniero de Sistemas",
    timePeriod: "2025",
  },
  {
    image: udemyImg,
    institution: "Udemy - Andrei Neagoie",
    name: "The Complete Web Developer in 2023: Zero to Mastery",
    timePeriod: "2022",
  },
  {
    image: udemyImg,
    institution: "Udemy - Fernando Herrera",
    name: "React Native: Native Apps for IOS & Android",
    timePeriod: "2022",
  },
  {
    image: udemyImg,
    institution: "Udemy - Kim Chen",
    name: "Complete Progressive Web App Bootcamp",
    timePeriod: "2022",
  },
  {
    image: udemyImg,
    institution: "Udemy - Jeovani Martínez",
    name: "Website Hosting in Serverless Mode on Amazon AWS",
    timePeriod: "2022",
  },
];
---

<Layout title="Experiencia y Educación" lang="es">
  <section
    id="experience-page-1"
    class="flex flex-col w-full h-[100vh] overflow-y-auto"
  >
    <div
      class="flex flex-row justify-start items-center p-5 rounded-lg gap-4 bg-gradient-to-br from-stone-800 to-black"
    >
      <BackButton url="#experience" />
      <h1
        class="text-2xl md:text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-white via-amber-100 to-white"
        transition:name="experience number"
      >
        {`Más de ${new Date().getFullYear() - 2020} años de experiencia`}
      </h1>
    </div>

    <div
      class="flex flex-col justify-start items-center rounded-lg gap-2 p-5 overflow-y-auto"
    >
      {
        items.map((item) => (
          <ExperienceItem
            image={item.image}
            location={item.location}
            name={item.name}
            position={item.position}
            technologies={item.technologies}
            timePeriod={item.timePeriod}
          />
        ))
      }
    </div>
  </section>

  <section
    id="experience-page-2"
    class="flex flex-col w-full h-[100vh] overflow-y-auto"
  >
    <div
      class="flex flex-row justify-start items-center p-5 rounded-lg gap-4 bg-gradient-to-br from-stone-800 to-black"
    >
      <BackButton url="#experience" />
      <h1
        class="text-2xl md:text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-white via-amber-100 to-white"
      >
        Cursos y Educación
      </h1>
    </div>

    <div class="flex flex-col justify-start items-center rounded-lg gap-2 p-5">
      {
        courses.map((item) => (
          <EducationItem
            image={item.image}
            institution={item.institution}
            name={item.name}
            timePeriod={item.timePeriod}
          />
        ))
      }
    </div>
  </section>
</Layout>
