---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import HobbieItem from "../components/HobbieItem.astro";

const books = [
  {
    name: "The Stormlight Archive",
    author: "Brandon Sanderson",
    link: "https://www.goodreads.com/book/show/7235533-the-way-of-kings",
  },
  {
    name: "Mistborn",
    author: "Brandon Sanderson",
    link: "https://www.goodreads.com/book/show/68428.The_Final_Empire",
  },
  {
    name: "The Lord of the Rings",
    author: "JRR Tolkien",
    link: "https://www.goodreads.com/book/show/61215351-the-fellowship-of-the-ring?ref=nav_sb_ss_2_17",
  },
  {
    name: "Project Hail Mary",
    author: "Andy Weir",
    link: "https://www.goodreads.com/book/show/54493401-project-hail-mary?ref=nav_sb_ss_1_14",
  },
  {
    name: "The Martian",
    author: "Andy Weir",
    link: "https://www.goodreads.com/book/show/18007564-the-martian?ref=nav_sb_ss_1_9",
  },
  {
    name: "Song of Ice & Fire",
    author: "George RR Martin",
    link: "https://www.goodreads.com/book/show/13496.A_Game_of_Thrones?ref=nav_sb_ss_1_8",
  },
];

const videogames = [
  {
    name: "Outer Wilds",
    author: "Mobius Digital",
    link: "https://store.steampowered.com/app/753640/Outer_Wilds/",
  },
  {
    name: "Red Dead Redemption 2",
    author: "Rockstar Games",
    link: "https://store.steampowered.com/app/1174180/Red_Dead_Redemption_2/",
  },
  {
    name: "The Witcher 3: Wild Hunt",
    author: "CD Project Red",
    link: "https://store.steampowered.com/app/292030/The_Witcher_3_Wild_Hunt/",
  },
  {
    name: "TES V: Skyrim",
    author: "Bethesda",
    link: "https://store.steampowered.com/app/489830/The_Elder_Scrolls_V_Skyrim_Special_Edition/",
  },
  {
    name: "Cyberpunk 2077",
    author: "CD Project Red",
    link: "https://store.steampowered.com/app/1091500/Cyberpunk_2077/",
  },
  {
    name: "GTA V",
    author: "Rockstar Games",
    link: "https://store.steampowered.com/app/271590/Grand_Theft_Auto_V/",
  },
];

const movies = [
  {
    name: "Lord of the Rings: Return of the King",
    author: "Peter Jackson",
    link: "https://www.imdb.com/title/tt0167260/?ref_=chttp_t_7",
  },
  {
    name: "Interstellar",
    author: "Christopher Nolan",
    link: "https://www.imdb.com/title/tt0816692/?ref_=chttp_t_22",
  },
  {
    name: "Batman: The Dark Knight",
    author: "Christopher Nolan",
    link: "https://www.imdb.com/title/tt0468569/?ref_=chttp_t_3",
  },
  {
    name: "Spider-Man: Across the Spider-Verse",
    author: "Joaquim Dos Santos, Kemp Powers, Justin K. Thompson",
    link: "https://www.imdb.com/title/tt9362722/?ref_=chttp_t_28",
  },
  {
    name: "Your Name (Kimi no na wa)",
    author: "Makoto Shinkai",
    link: "https://www.imdb.com/title/tt5311514/?ref_=chttp_t_83",
  },
  {
    name: "The Prestige",
    author: "Christopher Nolan",
    link: "https://www.imdb.com/title/tt0482571/?ref_=chttp_t_42",
  },
];
---

<Layout title="My hobbies">
  <div
    class="flex flex-row justify-start items-center p-5 rounded-lg gap-4 bg-gradient-to-br from-stone-800 to-black"
  >
    <BackButton />
    <h1
      class="text-5xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
      transition:name="hobbies text"
    >
      Hobbies
    </h1>
  </div>

  <h2 class="text-3xl text-center my-2 font-bold text-white">Books</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 py-2">
    {
      books.map(({ author, name, link }) => (
        <HobbieItem author={author} name={name} link={link} />
      ))
    }
  </div>

  <h2 class="text-3xl text-center my-2 font-bold text-white">Videogames</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 py-2">
    {
      videogames.map(({ author, name, link }) => (
        <HobbieItem author={author} name={name} link={link} />
      ))
    }
  </div>

  <h2 class="text-3xl text-center my-2 font-bold text-white">Movies</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 py-2">
    {
      movies.map(({ author, name, link }) => (
        <HobbieItem author={author} name={name} link={link} />
      ))
    }
  </div>
</Layout>
