---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import SkillsItem from "../components/SkillsItem.astro";

const FE_items = [
  {
    name: "HTML-Javascript-CSS",
    level: 5,
  },
  {
    name: "React",
    level: 5,
  },
  {
    name: "TailwindCSS",
    level: 5,
  },
  {
    name: "React Native - Expo",
    level: 4,
  },
  {
    name: "Next.js",
    level: 4,
  },
  {
    name: "Vue.js - Nuxt.js",
    level: 4,
  },
];

const BE_items = [
  {
    name: "Node.js",
    level: 5,
  },
  {
    name: "Express.js",
    level: 5,
  },
  {
    name: "NestJS",
    level: 4,
  },
  {
    name: "Apollo GraphQL",
    level: 4,
  },
  {
    name: "SQL Databases",
    level: 4,
  },
  {
    name: "Non-SQL DBs",
    level: 4,
  },
];

const soft_items = [
  {
    name: "Teamwork",
    level: 5,
  },
  {
    name: "Assertive Communication",
    level: 5,
  },
  {
    name: "Learning Willingness",
    level: 5,
  },
  {
    name: "Leadership",
    level: 4,
  },
  {
    name: "Professional Vocabulary",
    level: 5,
  },
  {
    name: "Self-demand",
    level: 5,
  },
];
---

<Layout title="Services & Skills">
  <div
    class="flex flex-row justify-start items-center p-5 mb-4 rounded-lg gap-4 bg-gradient-to-br from-stone-800 to-black"
  >
    <BackButton />
    <h1
      class="text-2xl md:text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
    >
      Services
    </h1>
  </div>

  <div
    class="flex flex-row justify-start items-center p-5 rounded-lg gap-4 bg-gradient-to-br from-stone-800 to-black"
  >
    <BackButton />
    <h1
      class="text-2xl md:text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
    >
      Skills
    </h1>
  </div>

  <h2 class="text-xl md:text-3xl text-center my-2 font-bold text-white">Frontend</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 py-2">
    {FE_items.map((item) => <SkillsItem name={item.name} level={item.level} />)}
  </div>

  <h2 class="text-xl md:text-3xl text-center my-2 font-bold text-white">Backend</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 py-2">
    {BE_items.map((item) => <SkillsItem name={item.name} level={item.level} />)}
  </div>

  <h2 class="text-xl md:text-3xl text-center my-2 font-bold text-white">Soft Skills</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 py-2">
    {
      soft_items.map((item) => (
        <SkillsItem name={item.name} level={item.level} />
      ))
    }
  </div>
</Layout>
