---
import Layout from "../layouts/Layout.astro";
import BackButton from "../components/BackButton.astro";
import SkillsItem from "../components/SkillsItem.astro";

const FE_items = [
  {
    name: "HTML-Javascript-CSS",
    level: 5,
  },
  {
    name: "React",
    level: 5,
  },
  {
    name: "TailwindCSS",
    level: 5,
  },
  {
    name: "React Native - Expo",
    level: 4,
  },
  {
    name: "Next.js",
    level: 4,
  },
  {
    name: "Vue.js - Nuxt.js",
    level: 4,
  },
];

const BE_items = [
  {
    name: "Node.js",
    level: 5,
  },
  {
    name: "Express.js",
    level: 5,
  },
  {
    name: "NestJS",
    level: 4,
  },
  {
    name: "Apollo GraphQL",
    level: 4,
  },
  {
    name: "Bases de Datos SQL",
    level: 4,
  },
  {
    name: "Bases de Datos No-SQL",
    level: 4,
  },
];

const soft_items = [
  {
    name: "Trabajo en Equipo",
    level: 5,
  },
  {
    name: "Comunicación Acertiva",
    level: 5,
  },
  {
    name: "Disposición de Aprendizaje",
    level: 5,
  },
  {
    name: "Liderazgo",
    level: 4,
  },
  {
    name: "Vocabulario Profesional",
    level: 5,
  },
  {
    name: "Auto-demanda",
    level: 5,
  },
];
---

<Layout title="Servicios y Habilidades" lang="es">
  <div
    class="flex flex-row justify-start items-center p-5 mb-4 rounded-lg gap-4 bg-gradient-to-br from-stone-800 to-black"
  >
    <BackButton url="#experience" />
    <h1
      class="text-2xl md:text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
    >
      Servicios que ofrezco
    </h1>
  </div>

  <div
    class="flex flex-row justify-start items-center p-5 rounded-lg gap-4 bg-gradient-to-br from-stone-800 to-black"
  >
    <BackButton url="#experience" />
    <h1
      class="text-2xl md:text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-purple-200 to-slate-500"
    >
      Habilidades
    </h1>
  </div>

  <h2 class="text-xl md:text-3xl text-start md:text-center my-2 ml-5 font-bold text-white">Frontend</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 p-5">
    {FE_items.map((item) => <SkillsItem name={item.name} level={item.level} />)}
  </div>

  <h2 class="text-xl md:text-3xl text-start md:text-center my-2 ml-5 font-bold text-white">Backend</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 p-5">
    {BE_items.map((item) => <SkillsItem name={item.name} level={item.level} />)}
  </div>

  <h2 class="text-xl md:text-3xl text-start md:text-center my-2 ml-5 font-bold text-white">Habilidades Blandas</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2 p-5">
    {
      soft_items.map((item) => (
        <SkillsItem name={item.name} level={item.level} />
      ))
    }
  </div>
</Layout>
