---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  location: string;
  name: string;
  position: string;
  technologies: string[];
  timePeriod: string;
}

const { image, location, name, position, technologies, timePeriod } =
  Astro.props;
---

<div
  class="flex flex-row justify-start items-start w-full gap-4 rounded-lg p-5 border-2 border-dotted border-white/20 bg-black/20"
>
  <picture class="h-12 w-12 flex-none">
    <Image
      src={image}
      alt={`Logo of ${name}`}
      class="object-cover w-full h-full rounded-full"
      loading="eager"
    />
  </picture>
  <div class="flex flex-col flex-1 justify-start items-start">
    <div
      class="flex flex-col md:flex-row justify-start items-start md:items-end md:gap-4"
    >
      <h2 class="text-xl text-white font-bold">{name}</h2>
      <p class="text-base font-normal text-white/80">{location}</p>
      <p class="text-base font-normal text-white/80">{timePeriod}</p>
    </div>

    <div
      class="flex flex-col justify-start items-start text-sm font-normal text-white/80"
    >
      <p class="font-bold">{position}</p>
      <ul>
        {technologies.map((tech) => <li>~ {tech}</li>)}
      </ul>
    </div>
  </div>
</div>
